cvxpy #pip
qpth #pip - currently using local install, see https://github.com/locuslab/qpth/pull/33
gurobi # conda -c gurobi
numpy
future
jupyterlab
pytorch # conda -c pytorch
tensorboard
matplotlib
nvidia-ml-py3 #conda -c fastai
pytest
pytest-cov
pytest-xdist #parallel tests
pylint
pylint-gitlab #pip
scipy # for numeric integration
tqdm #for progress bars
fire #conda -c conda-forge
tabulate # required for pandas pretty-printing

# non-python requirements (for package development only)
# jq # installable via apt-get; used to automatically clean up ipynb files on commit via git filters.