# -*- coding: utf-8 -*-
# non-python requirements (for package development only)
# jq # installable via apt-get; used to automatically clean up ipynb files on commit via git filters.
## Tested with python==3.9.7
--find-links https://download.pytorch.org/whl/torch_stable.html

cvxpy
future
#Gurobi is used as an optional solver for some combinatorial implementations.
# Please note that gurobi is not open source and requires a license.
# We recommend installing gurobi manually via `conda install gurobi -c gurobi` because this version includes the grbgetkey command to register your license.
# With the pip package installation, you will have to do so manually.
gurobipy # alternative via conda: gurobi -c gurobi 
jupyterlab
matplotlib
numpy
pandas
pylint
pylint-gitlab
pynvml #for accessing GPU statistics
pytest
pytest-cov
pytest-xdist #parallel tests
qpth # currently we're using a local install due to upstream bug, see https://github.com/locuslab/qpth/pull/33
scipy # for numeric integration
Sphinx
sphinx-rtd-theme
tabulate
tensorboard
torch==1.10.0+cu113 # alternative via conda: pytorch -c pytorch
tqdm # for progress bars
sympy


##### temporary requirements to account for external bugs
##### these can be removed again soon 

# 2022-05-30 
#Tensorboard 2.9.0 / 2.8.0 / 2.7.0 are incompatible with the latest verison of protobuf 
# we fix this by downgrading protobuf manualle
# this is necessary while tb 2.9.1 / 2.8.2 / 2.7.3 are not yet available on pip
# see https://github.com/tensorflow/tensorflow/issues/53234 for detail
protobuf >= 3.9.2, < 3.20

# 2022-05-30
# pytorch currently has an incompatibility with the latest setuptools which breaks our build
# see https://github.com/pytorch/pytorch/issues/69894
# temporary fix: downgrade setuptools
setuptools==59.5.0
